.page-banner{
    background-color: #BAE6FF;
    min-height: 13rem;
    margin: 0 0 2rem -2rem;
    width: 100vw;
}
.banner-header {
    padding: 1.5rem 0 0 1rem;
}
.banner-text{
    padding: 1rem 0;
    margin: 0 1rem 0 2rem;
    font-size: 14px;
}