
.login-page {
  font-family: "Arial", sans-serif;
  background-color: white;
  padding: 50px 50px 0 0;
 }

 .about-page{
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-bottom: 150px;
    .welcome {
      width: 70%;
    }
  
 }
p {
  font-size: 1.1vw;
  margin-bottom: 10vh;
}

.graphic{
  width:60vw;
  height:100vh;
  margin:-50px 0 0 -100px;
}

.feedback {
  background: #ddd;
  display: flex;
  flex-wrap: wrap;
  width:45%
}

.unselected {
  flex-grow: 1;
  width: 33%;
  height: 6.8rem;
  border: 1px #eee solid;
  text-align: center;
  padding-top:10px
}
.feedback>div:hover{
  background-color: #bbb;
}
.ratingSelected{
  border: 2px solid rgb(132, 132, 132);
  background-color: #aaa;
  flex-grow: 1;
  width: 33%;
  height: 6.8rem;
  text-align: center;
  padding-top:10px
}

.feedback>div>div {
  font-size: 14px;
}
@media (max-width: 1250px) {
  p {
    font-size: 1.5vw;
    margin-bottom: 10vh;
  }
  
  .graphic{
    width:55vw;
    height:80vh;
  }
}

@media (max-width: 667px) {
  p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .graphic{
    display:none;
  }
  .feedback {
    width:100%
  }
}